databases:
  - name: apidb
    databaseName: apidb *
    user: postgresuser
    plan: free

services:
  - type: web
    name: api
    env: docker
    plan: free
    autoDeploy: true
    region: oregon

    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      - key: ASPNETCORE_URLS
        value: http://*:10000
      - key: ConnectionStrings__DefaultConnection
        fromDatabase:
          name: apidb
          property: connectionString